/* Uses CSS reset by joshwcomeau */
/* Global */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 1fr 80px;
  grid-template-areas:
  "left right"
  "footer footer";
  height: 100vh;
}

/* Media */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* Forms */
input, button, textarea, select {
  font: inherit;
}

/* Text */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/* Root stacking context */
#root, #__next {
  isolation: isolate;
}

#overlay{
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,15%);
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);
  z-index: 1;
}

form{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 600px;
  height: 400px;
  padding: 1rem;
  background-color: white;
}

#close-form{
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

#left{
  grid-area: left;
  height: 100%;
  padding: 2rem;
  background-color: rgb(163, 24, 24);
}

.fixed-but{
  position: absolute;
  top: 0;
  right: 0;
}

.title-container{
  position: relative;
  margin-bottom: 2rem;
}

.title{
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

#projects-container{
  width: 100%;
  height: auto;
}

.project-item{
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  padding: 0.5rem;
  background-color: gray;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}

.material-icons-outlined{
  font-size: 1rem;
  display: inline !important;
}

#right{
  grid-area: right;
  height: 100%;
  padding: 2rem 20%;
  background-color: rgb(33, 97, 33);
}

#todo-container{
  width: 100%;
}

.todo-item{
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  height: auto;
  padding: 0.5rem 1rem;
  background-color: gray;
  margin-bottom: 0.5rem;
}

.todo-item .info p{
  display: inline;
}

.todo-item .info{
  display: inline-flex;
  gap: 1rem;
}

footer{
  grid-area: footer;
  height: 100%;
  padding: 2rem;
  background-color: rgb(55, 164, 207);
}

#copyright{
  text-align: center;
}